body
{
    background-image:url(../Imagens/Nuvens.jpg);
    background-repeat:repeat;
    
}

input:focus {
    outline: none;
    outline-width: 0;
    outline-color: Red;
    border: none;
}

#divTudo
{
    background-color:rgb(222,239,246);
    width:1000px;
    height:700px;
    margin: 0 auto 0 auto;
       
}

#TextBoxSearch
{
    margin-bottom:24px;
    background-image:url('../Imagens/campoSearch4.png');
    padding-left:10px;
}


.conteudo
{
    display:block;
    text-align:center;
    float:left;
    width:270px; 
    height:60px;
    font-family:Calibri;
    padding:0 28px 0 28px;
}

.linksTweet
{
    color:Blue; 
    text-decoration: underline;
    font-family:Calibri;
}